<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST">
    <input type="text" name="id"></a>
    <button type="submit">Submit</button>
</form>
{% if message %}
<h1>{{message.message}}</h1>
{% endif %}

{% if data %}
<table border="1">
    <tr>
        <th>Genre</th>
        <th>Description</th>
        <th>Artist ID</th>
        <th>Artist Name</th>
    </tr>
    <tr>
        <td>{{data.genre}}</td>
        <td>{{data.description}}</td>
        <td>{{data.artistid}}</td>
        <td>{{data.artistname}}</td>
    </tr>


</table>

{% endif %}

</body>
</html>